<div id="game">
    <canvas id="pong" width=640 height=640></canvas>

    <script>
        const canvas = document.getElementById("pong");
        const ctx = canvas.getContext("2d");

        // The player paddle position, should be between 0-1
        let p1_pos = 0;
        let p2_pos = 0;

        // Ball position between (0-1, 0-1)
        let ball_pos = {x: .5, y: .5};

        // These are all sizes in pixels
        const PLAYER_WIDTH = 7; // The width of a paddle
        const PLAYER_HEIGHT = 50; // The height of a paddle
        const OFFSET = 3; // make the walls slightly offset
        const BALL_RAD = 5; // The radius of the ball

        Number.prototype.clamp = function(min, max) {
            return Math.min(Math.max(this, min), max);
        };
        function drawFrame()
        {
            const BG_COL = "#000000";
            const FG_COL = "#FFFFFF";

            // Reset background
            ctx.fillStyle = BG_COL;
            ctx.fillRect(0,0, canvas.width, canvas.height);


            ctx.fillStyle = FG_COL;

            // Draw players
            pos = (canvas.height - (2 * OFFSET) - PLAYER_HEIGHT) * p1_pos + OFFSET + (PLAYER_HEIGHT / 2);
            ctx.fillRect(OFFSET, pos - PLAYER_HEIGHT / 2, PLAYER_WIDTH, PLAYER_HEIGHT);

            pos = (canvas.height - (2 * OFFSET) - PLAYER_HEIGHT) * p2_pos + OFFSET + (PLAYER_HEIGHT / 2);
            ctx.fillRect(canvas.width - OFFSET, pos - PLAYER_HEIGHT / 2, -PLAYER_WIDTH, PLAYER_HEIGHT);

            // Draw ball
            pos = {
                x: OFFSET + PLAYER_WIDTH + BALL_RAD + ((canvas.width -  (OFFSET * 2) - (PLAYER_WIDTH * 2) - (BALL_RAD * 2)) * ball_pos.x),
                y: OFFSET + BALL_RAD + ((canvas.width -  (OFFSET * 2) - (BALL_RAD * 2)) * ball_pos.y)
            }
            ctx.beginPath();
            ctx.ellipse(pos.x, pos.y, BALL_RAD, BALL_RAD, 0, 0, Math.PI * 2);
            ctx.fill();
        }

        // Player movement
        // p1_move_dir = 0;

        window.addEventListener("keydown", (e) => {
            switch (e.code) {
                case "KeyW":
                    p1_pos -= .05;
                    if (p1_pos < 0)
                        p1_pos = 0;
                    break;

                case "KeyS":
                    p1_pos += .05;
                    if (p1_pos > 1)
                        p1_pos = 1;
                    break;
                case "ArrowUp":
                    p2_pos -= .05;
                    if (p2_pos < 0)
                        p2_pos = 0;
                    break;

                case "ArrowDown":
                    p2_pos += .05;
                    if (p2_pos > 1)
                        p2_pos = 1;
                    break;

                default:
                    console.log(e.code)
                    break;
            }
        });


        let ball_dir = {x: -1, y: 0}
        const BALL_SPEED = .02;

        function update_game()
        {
            // Update ball position
            ball_pos.x += ball_dir.x * BALL_SPEED;
            ball_pos.y += ball_dir.y * BALL_SPEED;

            // If the ball bounces against the left or right wall
            if (ball_pos.x < 0 || ball_pos.x > 1){
                ball_pos.x.clamp(0,1)
                ball_dir.x = -ball_dir.x;
                // TODO: Check collision with player

                // Give the y a random direction
                r = Math.random();
                r_dir = (r*r*(3.0 - 2.0 * r)).clamp(.3,1);
                ball_dir.y = ball_dir > 0 ? r_dir : -r_dir;
            }

            // If the ball bounces against the top or bottom wall
            if (ball_pos.y < 0 || ball_pos.y > 1)
            {
                ball_pos.y.clamp(0,1);
                ball_dir.y = -ball_dir.y;
            }

            // Draw new frame
            drawFrame();
        }

        function reset_round(){
            ball_dir = {x: -1, y: 0};
            ball_pos = {x: 0, y: 0};
        }

        TICK_SPEED = 50
        window.setInterval(update_game, TICK_SPEED) // Tickspeed of 50 ms (aka 20/s)
    </script>
</div>