<div id="login" class="container align-center col-4 my-2 p-2 card">
    <h1 class="text-center">Profile</h1>

    <!-- Profile picture -->
    <div class="row justify-content-center mb-3">
        <canvas class="border border-primary rounded-circle h-100 col-3 p-0 mb-3" width=128 height=128 id="img_canvas"></canvas>
    </div>
    <div class="mb-3 hide" style="display: none">
        <label for="i_image" class="form-label">Profile picture</label>
        <input type="file" class="form-control" accept="image/*" id="i_image">
    </div>
    <!-- General information -->
    <hr>
    <div class="mb-3 form-floating">
        <input class="form-control" type="text" name="username" id="i_username" placeholder="" value="" disabled>
        <label for="i_username" class="form-label">Username</label>
    </div>
    <div class="mb-3 form-floating">
        <input class="form-control" type="email" name="email" id="i_email" placeholder="" value="" disabled>
        <label for="i_email" class="form-label">Email</label>
    </div>
    <!-- New Password -->
    <hr class="hide" style="display: none">
    <div class="input-group mb-3 hide" style="display: none">
        <div class="form-floating">
            <input class="form-control" type="password" name="new_password" id="i_new_password" placeholder="" disabled>
            <label for="i_new_password" class="form-label">New Password</label>
        </div>
        <button type="button" class="btn btn-outline-secondary border-light-subtle" onclick="passwordToggle('i_new_password', 'i_new_password_show')" id="i_new_password_show"><i class="fa fa-eye-slash"></i></button>
    </div>

    <div class="input-group mb-3 hide" style="display: none">
        <div class="form-floating">
            <input class="form-control" type="password" name="new_password_validation" id="i_new_password_validation" placeholder="" disabled>
            <label for="i_new_password_validation" class="form-label">Repeat New Password</label>
        </div>
        <button type="button" class="btn btn-outline-secondary border-light-subtle" onclick="passwordToggle('i_new_password_validation', 'i_new_password_validation_show')" id="i_new_password_validation_show"><i class="fa fa-eye-slash"></i></button>
    </div>
    <!-- Password -->
    <hr class="hide" style="display: none;">
    <div class="input-group mb-3 hide" style="display: none">
        <div class="form-floating">
            <input class="form-control" type="password" name="password" id="i_password" placeholder="" disabled>
            <label for="i_password" class="form-label">Current Password</label>
        </div>
        <button type="button" class="btn btn-outline-secondary border-light-subtle" onclick="passwordToggle('i_password', 'i_password_show')" id="i_password_show"><i class="fa fa-eye-slash" disabled></i></button>
    </div>
    <hr>

    <div class="mb-3 mx-0 d-flex justify-content-end">
        <button type="button" class="btn btn-lg btn-outline-secondary hide mx-2" style="display: none;" id="cancelBtn" onclick="showView()">cancel</button>
        <button type="button" class="btn btn-lg btn-primary" id="stateBtn" onclick="changeState()">edit</button>
    </div>
    <hr>
    <div class="row mx-0">
        <button type="button" class="btn btn-primary btn-lg">totp</button>
    </div>

    <script src="scripts/userInfo.js" id="userinfo_script"></script>
    <script src="scripts/passwordToggle.js" id="userinfo_script"></script>

    <script>
        state = "view";

        inputs = {
            stateBtn: document.getElementById("stateBtn"),
            image : document.getElementById("i_image"),
            image_c : document.getElementById("img_canvas"),
            username: document.getElementById("i_username"),
            email:    document.getElementById("i_email"),
            cur_password:   document.getElementById("i_password"),
            new_password:   document.getElementById("i_new_password"),
            new_password_v: document.getElementById("i_new_password_validation"),
        };

        // Load and set user data in input fields
        s = document.getElementById("userinfo_script")
        s.addEventListener("load", async () => {
            u_data = sessionStorage.getItem("UserInfo");

            if (u_data == null) {
                await getUserInfo();
                u_data = sessionStorage.getItem("UserInfo");
            }

            u_data = JSON.parse(u_data);

            inputs.username.value = u_data.username;
            inputs.email.value = u_data.email;

            // Set image
            img = new Image();
            img.src = u_data.pfp;

            img.onload = () => {
                ctx = inputs.image_c.getContext("2d");

                ctx.clearRect(0, 0, inputs.image_c.width, inputs.image_c.height);
                ctx.drawImage(img, 0, 0, inputs.image_c.width, inputs.image_c.height);
            }
        });

        inputs.image.addEventListener("change", updateCanvas)

        function updateCanvas(e)
        {
            file = inputs.image.files[0];
            reader = new FileReader();

            if (file)
            {
                reader.onload = () => {
                    img = new Image();
                    img.src = reader.result;

                    img.onload = () => {
                        ctx = inputs.image_c.getContext('2d');

                        ctx.clearRect(0, 0, inputs.image_c.width, inputs.image_c.height);
                        ctx.drawImage(img, 0, 0, inputs.image_c.width, inputs.image_c.height);
                    }
                }
            }

            reader.readAsDataURL(file);
        }


        function changeState()
        {
            btn = document.getElementById("edit");
            if (state == "view") // Go to edit state
            {
                showEdit()
            }
            else if (state == "edit")
            {
                // TODO: Do input validation

                // TODO: Update user information on the server
                data = {
                    username: inputs.username.value,
                    email: inputs.email.value,
                    password: inputs.cur_password.value,
                    new_password: inputs.new_password.value,
                    new_password_validation: inputs.new_password_v.value,
                    pfp: inputs.image_c.toDataURL("image/jpeg"),
                }

                fetch("http://localhost:8082/user/update", {
                    method: "PATCH",
                    headers: {'Content-Type': 'application/json'},
                    credentials: "include",
                    body: JSON.stringify(data),
                }).then((res) => {
                    showView();
                })
            }
        }

        function showEdit(){
            // Show all hidden elements
            elements = document.getElementsByClassName("hide")
            Array.from(elements).forEach(e => {
                e.removeAttribute("style");
            });

            // Enable input fields
            inputs.username.disabled = false;
            inputs.email.disabled = false;
            inputs.cur_password.disabled = false;
            inputs.new_password.disabled = false;
            inputs.new_password_v.disabled = false;

            // Update the state and the stateBtn
            inputs.stateBtn.innerText = "save";
            state = "edit";
        }

        // Will change the display mode to viewing mode
        function showView()
        {
            // rehide hidden elements
            elements = document.getElementsByClassName("hide")
            Array.from(elements).forEach(e => {
                e.setAttribute("style", "display: none");
            });

            inputs.username.disabled = true;
            inputs.email.disabled = true;
            inputs.cur_password.disabled = true;
            inputs.new_password.disabled = true;
            inputs.new_password_v.disabled = true;

            // Update state and stateBtn
            inputs.stateBtn.innerText = "edit";
            state = "view";
        }
    </script>
</div>