<div i="profile" class="py-2">
    <div id="userInfo" class="container align-center col-4 my-2 p-2 card">
        <h1 class="text-center">Profile</h1>

        <!-- Profile picture -->
        <div class="row justify-content-center mb-3">
            <canvas class="border border-primary rounded-circle h-100 col-3 p-0 mb-3" width=128 height=128 id="img_canvas"></canvas>
        </div>
        <div class="mb-3 hide" style="display: none">
            <label for="i_image" class="form-label">Profile picture</label>
            <input type="file" class="form-control" accept="image/*" id="i_image">
        </div>
        <!-- General information -->
        <hr>
        <div class="mb-3 form-floating">
            <input class="form-control" type="text" name="username" id="i_username" placeholder="" value="" disabled>
            <label for="i_username" class="form-label">Username</label>
            <div class="invalid-feedback">
                Invalid username; A username must be at least 3 characters long, and only contain alphabetical and numeric characters or the following special characters: <samp>_-</samp>
            </div>
        </div>
        <div class="mb-3 form-floating">
            <input class="form-control" type="email" name="email" id="i_email" placeholder="" value="" disabled>
            <label for="i_email" class="form-label">Email</label>
        </div>
        <!-- New Password -->
        <hr class="hide" style="display: none">
        <div class="input-group mb-3 hide" style="display: none">
            <div class="form-floating">
                <input class="form-control" type="password" name="new_password" id="i_new_password" placeholder="" disabled>
                <label for="i_new_password" class="form-label">New Password</label>
                <div class="invalid-feedback">
                    Invalid Password; A password must at least be 8 characters long and must contain the following: a capital letter, a digit and a special character (<samp>! "#$%&'()*+,-./:;&lt=&gt?@[]^_`{|}~</samp>)
                </div>
            </div>
            <button type="button" class="btn btn-outline-secondary border-light-subtle" onclick="passwordToggle('i_new_password', 'i_new_password_show')" id="i_new_password_show"><i class="fa fa-eye-slash"></i></button>
        </div>

        <div class="input-group mb-3 hide" style="display: none">
            <div class="form-floating">
                <input class="form-control" type="password" name="new_password_validation" id="i_new_password_validation" placeholder="" disabled>
                <label for="i_new_password_validation" class="form-label">Repeat New Password</label>
                <div class="invalid-feedback">
                    Password do not match
                </div>
            </div>
            <button type="button" class="btn btn-outline-secondary border-light-subtle" onclick="passwordToggle('i_new_password_validation', 'i_new_password_validation_show')" id="i_new_password_validation_show"><i class="fa fa-eye-slash"></i></button>
        </div>
        <!-- Password -->
        <hr class="hide" style="display: none;">
        <div class="input-group mb-3 hide" style="display: none">
            <div class="form-floating">
                <input class="form-control" type="password" name="password" id="i_password" placeholder="" disabled>
                <label for="i_password" class="form-label">Current Password</label>
            </div>
            <button type="button" class="btn btn-outline-secondary border-light-subtle" onclick="passwordToggle('i_password', 'i_password_show')" id="i_password_show"><i class="fa fa-eye-slash" disabled></i></button>
        </div>
        <hr>

        <div class="text-danger" style="display: none;" id="txt_error">
            This is error text
        </div>

        <div class="mb-3 mx-0 d-flex justify-content-end">
            <button type="button" class="btn btn-lg btn-outline-secondary hide mx-2" style="display: none;" id="cancelBtn" onclick="showView()">cancel</button>
            <button type="button" class="btn btn-lg btn-primary" id="stateBtn" onclick="changeState()">edit</button>
        </div>
    </div>

    <!-- 2FA -->
    <div class="container card align-center col-4 p-2" id="2fa">
        <h1 class="text-center">2 Factor Authentication</h1>

        <img id="totp_qr" class="p-2 border w-100 rounded hide-totp mb-2" style="display: none;">
        <div class="mb-3 form-floating hide-totp" style="display: none;">
            <input class="form-control" type="text" name="totp_key" id="i_totp_key" placeholder="000000" disabled>
            <label for="i_totp_key" class="form-label">totp key</label>
            <div class="invalid-feedback">
                Invalid TOTP key
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-primary" id="totp_btn" onclick="update2FA()">submit</button>

    </div>

    <!-- General scripts -->
    <script src="scripts/userInfo.js" id="s_userInfo"></script>
    <script src="scripts/userValidation.js" id="s_userValidation"></script>
    <script src="scripts/passwordToggle.js" id="s_passwordToggle"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js"></script>

    <!-- Profile script -->
    <script>
        state = "view";

        inputs = {
            stateBtn: document.getElementById("stateBtn"),
            image : document.getElementById("i_image"),
            image_c : document.getElementById("img_canvas"),
            username: document.getElementById("i_username"),
            email:    document.getElementById("i_email"),
            cur_password:   document.getElementById("i_password"),
            new_password:   document.getElementById("i_new_password"),
            new_password_v: document.getElementById("i_new_password_validation"),
            error_text: document.getElementById("txt_error"),
        };

        // Takes user info from userInfo in session storage and updates the display
        function displayUserInfo()
        {
            u_data = JSON.parse(sessionStorage.getItem("UserInfo"));

            inputs.username.value = u_data.username;
            inputs.email.value = u_data.email;

            // Set image
            img = new Image();
            img.src = u_data.pfp;

            img.onload = () => {
                ctx = inputs.image_c.getContext("2d");

                ctx.clearRect(0, 0, inputs.image_c.width, inputs.image_c.height);
                ctx.drawImage(img, 0, 0, inputs.image_c.width, inputs.image_c.height);
            }
        }

        // Load and set user data in input fields
        s = document.getElementById("s_userInfo")
        s.addEventListener("load", async () => {
            await getUserInfo();
            displayUserInfo();
        });

        inputs.image.addEventListener("change", updateCanvas)

        function updateCanvas(e)
        {
            file = inputs.image.files[0];
            reader = new FileReader();

            if (file)
            {
                reader.onload = () => {
                    img = new Image();
                    img.src = reader.result;

                    img.onload = () => {
                        ctx = inputs.image_c.getContext('2d');

                        ctx.clearRect(0, 0, inputs.image_c.width, inputs.image_c.height);
                        ctx.drawImage(img, 0, 0, inputs.image_c.width, inputs.image_c.height);
                    }
                }
            }

            reader.readAsDataURL(file);
        }


        function changeState()
        {
            btn = document.getElementById("edit");
            if (state == "view") // Go to edit state
            {
                showEdit()
            }
            else if (state == "edit")
            {
                data = {
                    username: inputs.username.value,
                    email: inputs.email.value,
                    password: inputs.cur_password.value,
                    new_password: inputs.new_password.value,
                    new_password_validation: inputs.new_password_v.value,
                    pfp: inputs.image_c.toDataURL("image/jpeg"),
                };

                // Remove old validation styling
                inputs.username.classList.remove("is-invalid");
                inputs.new_password.classList.remove("is-invalid");
                inputs.new_password_v.classList.remove("is-invalid");
                inputs.error_text.style = "display: none;";

                // Input validation
                isValid = true;
                // Verify username
                if (!usernameValidation(inputs.username.value)){
                    inputs.username.classList.add("is-invalid");
                    isValid = false;
                }
                // Verify new password
                if (inputs.new_password.value != "" || inputs.new_password_v.value != "") {
                    if (!passwordValidation(inputs.new_password.value)) {
                        inputs.new_password.classList.add("is-invalid");
                        isValid = false;
                    }
                    if (inputs.new_password.value != inputs.new_password_v.value) {
                        inputs.new_password_v.classList.add("is-invalid");
                        isValid = false;
                    }
                }

                // Reset inputs that aren't supposed to retain their value
                inputs.cur_password.value = "";

                if (!isValid)
                    return

                // Update info on server
                fetch("http://localhost:8082/user/update", {
                    method: "PATCH",
                    headers: {'Content-Type': 'application/json'},
                    credentials: "include",
                    body: JSON.stringify(data),
                }).then(async (res) => {
                    if (res.ok){
                        // Update user data
                        data = await res.json();
                        setUserInfo(JSON.stringify(data));
                        displayUserInfo();
                        // Go back to view mode
                        showView();
                    }
                    else {
                        data = await res.json();
                        inputs.error_text.innerText = data.error;
                        inputs.error_text.style = "";
                    }
                });
            }
        }

        function showEdit(){
            // Show all hidden elements
            elements = document.getElementsByClassName("hide")
            Array.from(elements).forEach(e => {
                e.removeAttribute("style");
            });

            // Enable input fields
            inputs.username.disabled = false;
            inputs.email.disabled = false;
            inputs.cur_password.disabled = false;
            inputs.new_password.disabled = false;
            inputs.new_password_v.disabled = false;

            // Update the state and the stateBtn
            inputs.stateBtn.innerText = "save";
            state = "edit";
        }

        // Will change the display mode to viewing mode
        function showView()
        {
            // rehide hidden elements
            elements = document.getElementsByClassName("hide")
            Array.from(elements).forEach(e => {
                e.setAttribute("style", "display: none");
            });

            inputs.username.disabled = true;
            inputs.email.disabled = true;
            inputs.cur_password.disabled = true;
            inputs.new_password.disabled = true;
            inputs.new_password_v.disabled = true;
            inputs.error_text.style = "display: none;"

            inputs.new_password.value = "";
            inputs.new_password_v.value = "";
            inputs.cur_password.value = "";

            // Update state and stateBtn
            inputs.stateBtn.innerText = "edit";
            state = "view";
        }
    </script>

    <!-- Load user script -->

    <!-- 2FA script -->
    <script>
        totp_inputs = {
            button: document.getElementById("totp_btn"),
            qr: document.getElementById("totp_qr"),
            totp_key: document.getElementById("i_totp_key"),
            totp_submit: document.getElementById("i_totp_submit")
        }

        totp_secret = null;

        function setButtonText(){
            // Update totp every time the userInfo is updated
            u = JSON.parse(sessionStorage.getItem("UserInfo"))

            if (!u.has_2fa)
                totp_inputs.button.innerText = "Enable 2FA";
            else
                totp_inputs.button.innerText = "Reset 2FA";
        }

        // Runs every time user info is updated
        window.addEventListener("UserInfoUpdate", setButtonText);

        function update2FA() {
            if (totp_secret == null){
                fetch("http://localhost:8082/user/totp").then(async (res) => {
                    if (res.ok){
                        totp_uri = (await res.json()).totp_secret;
                        totp_secret = totp_uri.substr(totp_uri.length - 32)

                        const code = qrcode(0, 'M');
                        code.addData(totp_uri);
                        code.make();

                        totp_inputs.qr.src = code.createDataURL(32,0);

                        totp_inputs.button.innerText = "Submit";
                        totp_inputs.totp_key.disabled = false;

                        // Show all hidden elements
                        elements = document.getElementsByClassName("hide-totp");
                        Array.from(elements).forEach(e => {
                            e.removeAttribute("style");
                        });
                    }
                });
            }
            else {
                // Remove previous validation
                totp_inputs.totp_key.classList.remove("is-invalid");

                // Check if totp provided is correct
                if (!totpKeyValidation(totp_inputs.totp_key.value)){
                    totp_inputs.totp_key.classList.add("is-invalid");
                    return;
                }

                // Update totp_secret of user
                data = {
                    "totp_secret": totp_secret,
                    "totp_key": totp_inputs.totp_key.value,
                };

                totp_inputs.totp_key.value = "";
                fetch("http://localhost:8082/user/totp", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    credentials: "include",
                    body: JSON.stringify(data),
                }).then((res) => {
                    if (res.ok){
                        // Return everything to original state
                        setButtonText();

                        // Hide elements
                        elements = document.getElementsByClassName("hide-totp");
                        Array.from(elements).forEach(e => {
                            e.setAttribute("style", "display: none;");
                        });

                        totp_inputs.totp_key.disabled = true;
                    }
                    else {
                        totp_inputs.totp_key.classList.add("is-invalid");
                    }
                });
            }
        }
    </script>
</div>