<div id="totp_input">
    <div class="modal fade" tabindex="-1" id="totp_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title align-center">2-FA verification</h3>
                </div>
                <div class="modal-body">
                    <input class="form-control" placeholder="000000">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary w-100" onclick="SubmitTotp()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/userValidation.js"></script>
</div>