{% extends "account/base.html" %}
{% block title %}
{% load static %}
<title>Login</title>
<style>
    #register-form{
        display: none;
    }
    #register-h1{
        align-self: center;
    }
    
</style>
<script src="{% static 'account.js' %}"></script>
{% endblock %}


{% block body %}
<h1>Login Page!!!</h1>
<button data-page="login-form">Login</button>
<button data-page="register-form">Register</button>


<form id ="login-form" method="POST" action="">
    <h1>Login</h1>
    {% csrf_token %}
    <div id="login-error-container" class="alert alert-danger">
    </div>
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Username">
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="Password">
    <input class="btn btn-primary" id="login-user" type="button" name="Submit" value="Submit">
</form>


<form id="register-form" method="POST" action="">
    {% csrf_token %}
    <h1 id="register-h1">Register</h1>
    <div id="error-container" class="alert alert-danger">
    </div>

        {% for field in registerForm %}
        <div class="form-group">
            {{field.label}}
            {{field}}
        </div>
        {% endfor %}
        {{registerForm.non_field_errors}}
        <p></p>
        <input class="btn btn-primary" id="register-user" type="button" name="Create" value="Create">
</form>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
{% endblock %}