{% extends "account/base.html" %}
{% block title %}
<title>Login</title>
<style>
    #register-form{
        display: none;
    }
    #register-h1{
        align-self: center;
    }
    
</style>
<script>
    function showPage(page){
        document.querySelectorAll('form').forEach(div => {
            div.style.display = 'none';
        })
        document.querySelector(`#${page}`).style.display = 'block';
    }

    document.addEventListener('DOMContentLoaded', function(){
        document.querySelectorAll('button').forEach(button =>{
            button.onclick = function(){
                showPage(this.dataset.page)
            }
        });
    })

    document.addEventListener('DOMContentLoaded', function(){
        function submitUserForm(){
            console.log('submitting user form...');
            const form = document.getElementById('register-form');
            const errorContainer = document.getElementById('error-container');

            fetch('/register/', {
                method: 'POST',
                body: new FormData(form),
            })
            .then(res => res.json())
            .then(data =>{
                console.log('Got response', data);
                if (data.status === 'success'){
                    form.reset();
                    errorContainer.innerHTML = '';
                    window.location.href='/login'
                } else{
                    console.log("errors found in the form", data.errors);
                    errorContainer.innerHTML = data.errors.join('<br>');
                }
            })
            .catch(error =>{
                console.log('Error:', error);
            })
        }

        document.getElementById('register-user').addEventListener('click', function (event){
            event.preventDefault();
            submitUserForm();
        });
    })

</script>
{% endblock %}

{% block body %}
<h1>Login Page!!!</h1>
<button data-page="login-form">Login</button>
<button data-page="register-form">Register</button>


<form id ="login-form" method="POST" action="">
    <h1>login-form goes here</h1>
</form>


<form id="register-form" method="POST" action="">
    {% csrf_token %}
    <h1 id="register-h1">Register</h1>
    <div id="error-container" class="alert alert-danger">
    </div>
        {% for field in registerForm %}
        <div class="form-group">
            {{field.label}}
            {{field}}
        </div>
        {% endfor %}
        {{registerForm.non_field_errors}}
        <p></p>
        <input class="btn btn-primary" id="register-user" type="button" name="Create" value="Create">
</form>
{% for message in messages %}
    <p>{{message}}</p>
{% endfor %}

{% endblock %}